.page {
    height: 100vh;
    width: 100vw;
    background: 
        radial-gradient(circle, rgb(57, 57, 57) .1px, transparent .5px),
        #f0f0f0;
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}