.sidebar {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
}

.sidebar__title {
  font-weight: 600;
  font-size: 24px;
  color: #414141;
  margin-bottom: 20px;
}

.sidebar__subtitle {
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #989898;
}

.sidebar__link {
  position: relative;
  cursor: pointer;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar__link_item,
.sidebar__link_active {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #575757;
  width: fit-content;
}
.sidebar__link_item::before {
  transition: 0.4s;
  bottom: -2px;
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: #575757;
}
.sidebar__link_item:hover::before {
  content: "";
  width: 100%;
}

.sidebar__link_active::before {
  transition: 0.4s;
  bottom: -2px;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #575757;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    padding: 80px 50px;
  }
}

@media screen and (max-width: 980px) {
  .sidebar {
    padding: 40px 30px;
  }
}
