.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.landing__header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.switcher {
  margin-right: 100px;
}

.startBtn {
  position: absolute;
  left: 50%;
  bottom: 300px;
  transform: translate(-50%);
}

.title {
  margin: 0;
  font-size: 80px;
  font-family: Serif, sans-serif;
  color: var(--font-defautl);
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 40px;
  color: var(--font-gray);
}
.imgCont {
  display: grid;
  grid-column-end: span;
  grid-template-columns: 230px 200px 1fr 200px 230px;
  grid-gap: 30px;
  place-items: end;
  padding-bottom: 20px;
}
