.blocks {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "functionality design"
        "about about";
    grid-gap: 18px;
}

.block {
    padding: 50px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #f7f7f7;
    height: 400px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    /*background:         radial-gradient(circle, rgb(57, 57, 57) .1px, transparent .5px),        #f0f0f0;
    background-size: 20px 20px;
    */
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.block:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.functionality {
    grid-area: functionality;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url('../../../../assets/task.png');
    background-position: 20px 40px;
    background-size: 90%;
    background-repeat: no-repeat;
}

.functionality__title {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 300;
}

.functionality__description {
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.design {
    grid-area: design;
    background-image: url('../../../../assets/kanban.png');
    background-position: 20px 100px;
    background-size: 150%;
    background-repeat: no-repeat;
}

.design__title {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 300;
}

.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.about__title {
    font-family:'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
}

.about__description {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}