{
  "globals": {
    "JSX": true
  },
  "extends": ["react-app", "react-app/jest", "prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "prefer-const": "warn",
    "quotes": ["warn", "single"],
    "indent": ["warn", 2],
    "max-len": ["warn", 120],
    "no-undef": "warn",
    "no-empty-pattern": "warn"
  }
}
