.regform {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.regform__title {
  align-self: center;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--font-defautl);
}

.regform__btn {
  align-self: center;
  margin: 20px 0 0 !important;
}

.btnLinkLogin {
  margin-top: 30px;
  font-size: 16px;
  color: var(--font-defautl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLinkLogin > span {
  margin-right: 10px;
}
.btnLinkLogin > a {
  text-decoration: underline;
  color: var(--font-gray);
}
