.regform {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.regform__title {
  align-self: center;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.regform__btn {
  align-self: center;
  width: 70%;
  padding: 15px 0;
  margin: 20px 0 0;
}

.btn-link-login {
  margin-top: 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.51);
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    margin-right: 10px;
  }

  & > a {
    text-decoration: underline;
  }
}
