header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: 300;
    font-size: 24px;
  }

  h2 {
    font-weight: 200;
    font-size: 18px;
  }

  button {
    height: 50px;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid grey;
    background: transparent;
    border-radius: 10px;
    padding: 0 20px;
  }
}
