header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: white;
  border-bottom: 1px solid #f7f6f8;

  div {
    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 24px;
    }

    h2 {
      margin: 0;
      font-weight: 200;
      font-size: 18px;
    }
  }
}

.header__right {
  align-items: center;
  width: 40px;
  display: flex;
  justify-content: space-between;
}
