.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
  border: 1px solid var(--bg-border);
  border-radius: 6px;
}

.filter {
  cursor: pointer;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  margin-right: 5px;
}
.filter:last-of-type {
  margin-right: 0;
}
.filter__name {
  color: #989898;
}
.filter__value {
  margin-left: 5px;
  color: #575757;
}
