.skeletonCont {
  display: flex;
  flex-wrap: wrap;
}

.skeletonItem {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
  color: var(--font-defautl);
  background: var(--bg-0);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.skeletonItem::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(#b2b2b2, 0) 0,
    rgba(#e8e8e8, 0.2) 20%,
    rgba(#e0e0e0, 0.5) 60%,
    rgba(#b2b2b2, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
