.columnContainer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.columnContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  color: var(--font-defautl);
}

.subtitle {
  font-size: 14px;
  color: var(--font-gray);
}

.columnContainer__footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
