.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background: var(--bg-0);
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid var(--bg-border);
}

/* //todo change to FLEX and PAddinWrapper ui Component */
.header__left {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: var(--font-defautl);
}

/* //todo change to FLEX and PAddinWrapper ui Component */
.header__right {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.line {
  margin-left: 48px;
  margin-right: 48px;
  height: 34px;
  width: 2px;
  background: var(--bg-border);
}

.favoriteBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 43px;
}

/* //todo change to FLEX and PAddinWrapper ui Component */
.settingsBtn {
  display: flex;
  align-items: center;
}
