.fileCard {
  white-space: pre;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fileCard:last-of-type {
  margin-bottom: 0;
}
.fileCard:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title {
  width: 100%;
  white-space: pre-wrap;
  font-size: 14px;
  color: var(--font-defautl);
}

.deleteBtn {
  background: var(--bg-border);
  padding: 2px 6px;
  border-radius: 4px;
}
.deleteBtn:hover {
  background: lightcoral;
}
