.row {
  border-bottom: 1px solid var(--bg-border);
  padding-bottom: 40px;
}

.row__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tasksEmptyAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--font-gray);
}
