.container {
  z-index: 10;
  border-radius: 8px;
  padding: 30px 20px 20px;
  min-width: 400px;
  background: var(--bg-100);
}

.projCont {
  margin-top: 40px;
  margin-bottom: 10px;
}

.cont__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont__headerTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--font-defautl);
}

.cont__footer {
  display: flex;
  justify-content: flex-end;
}
