@import "src/assets/styles/variables";

.mainLay {
  display: flex;
  justify-content: space-between;
}
.page {
  padding: 20px;
  width: calc(100vw - #{$sideBarWidth});
  margin-left: $sideBarWidth;
}
