@import "../../assets/styles/variables";

.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: $sideBarWidth;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  z-index: 10;
  background: white;
  border-right: 1px solid lightgrey;
  //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer__avatar {
  background: lightblue;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

li {
  margin-bottom: 30px;
}
