.btnDefault {
  margin: 5px;
  padding: 6px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.btnDefault:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btnDefault:disabled {
  opacity: 0.5;
}

/*Close type*/
.buttonClose {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  outline: none;
  /*border: none;*/
  padding: 10px;
  width: 24px;
  height: 24px;
  font-size: 10px;
  transition: 2s;
  color: var(--font-gray);
  border: 1px solid var(--font-gray);
}
.buttonClose:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Submit type*/
.buttonSubmit {
  background: #50ce69;
  color: #ffffff;
}

.buttonDanger {
  color: white;
  background: #bb5050;
}

/*Outline type*/
.buttonOutline {
  background: transparent;
  border: 1px solid var(--bg-border);
  color: var(--bg-border);
  font-weight: 600;
}

/*Primary type*/
.buttonPrimary {
  color: white;
  background: var(--bg-primary);
}
