.btn {
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
  max-width: fit-content;
  white-space: nowrap;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
}

/*Close type*/
.buttonClose {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  outline: none;
  /*border: none;*/
  padding: 10px;
  width: 24px;
  height: 24px;
  font-size: 10px;
  color: var(--font-gray);
  border: 1px solid var(--font-gray);
}
.buttonClose:hover {
  cursor: pointer;
  color: var(--font-defautl);
  border: 1px solid var(--font-defautl);
}

/* Submit type*/
.buttonSubmit {
  background: #168d1b;
  color: #ffffff;
}
.buttonSubmit:hover {
  background-color: #20b427;
}

.buttonDanger {
  background: #fc4143;
  color: white;
}
.buttonDanger:hover {
  background-color: #ff585a;
}

/*Outline type*/
.buttonSecondary {
  background: #606060;
  color: white;
}
.buttonSecondary:hover {
  background-color: #606060;
}

/*Primary type*/
.buttonPrimary {
  color: white;
  background: var(--bg-primary);
}
.buttonPrimary:hover {
  background-color: #1677ff;
}
