.button-default,
.button-outline,
.button-submit,
.button-danger {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

// Close type
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px;
  width: 24px;
  height: 24px;
  font-size: 10px;
  transition: 1s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

// Submit type
.button-submit {
  background: #50ce69;
  color: #ffffff;
}

// Outline type
.button-outline {
  background: transparent;
  border: 1px solid #b4b4b4;
  color: #707070;
}
