.container {
  border-radius: 8px;
  border: 1px solid var(--bg-border);
  background: var(--bg-100);
  padding: 22px 14px 0;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right > div {
  cursor: pointer;
}

.main {
  width: 100%;
  margin-top: 16px;
}

.input {
  outline: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #575757;
  border: none;
  margin: 0;
}
.input:hover {
  border: none;
}

.header__left {
  word-wrap: normal;
  font-weight: 700;
  font-size: 16px;
  color: #989898;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additionally {
  font-size: 14px;
  color: #989898;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px;
}
.additionally__left,
.additionally__left > * {
  display: flex;
  align-items: center;
}
.additionally__left {
  width: 20%;
  justify-content: space-between;
}
.additionally__left > div > svg,
.additionally__left > div > span {
  margin-left: 5px;
}
.additionally__right {
  width: 25%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.additionally__right > div > svg {
  margin-left: 3px;
  cursor: pointer;
  transform: translateY(2px);
}

.footer {
  padding: 10px;
  width: 100%;
  border-top: 1px solid var(--bg-border);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.submitBtn {
  margin: 0;
  background: #7bc7f2;
  border-radius: 6px;
  padding: 5px 14px !important;
  color: #ffffff;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.task_type {
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 24px;
}

.task_priority {
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox_label {
  margin-right: 10px;
  font-size: 14px;
  color: #989898;
}

.checkbox {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
