.inputCont {
  margin-top: 10px;
  position: relative;
  height: 46px;
  width: 100%;
}

.input {
  outline: none;
  background: transparent;
  border: 1px solid var(--bg-border);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 14px;
  color: var(--font-defautl);
}

.passwordIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
