.inputCont {
  margin-top: 10px;
  position: relative;
  height: 46px;
  width: 100%;
}

.input {
  outline: none;
  background: transparent;
  border: 1px solid var(--bg-border);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 14px;
  color: var(--font-defautl);
}
.input_label {
  font-size: 14px;
  transition: 0.2s;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--font-gray);
}
.input_label_active {
  font-size: 12px;
  top: 10px;
  background: transparent;
  left: 12px;
}

.passwordIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
