.projMain {
  background: var(--bg-100);
  width: 100%;
  height: 80%;
}

.colCont {
  padding-left: 10px;
  background: var(--bg-0);
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 100%;
}
