.container {
  position: relative;
}

.tooltip {
  font-size: 12px;
  color: var(--font-defautl);
  min-width: fit-content;
  position: absolute;
  background: var(--bg-0);
  border: 1px solid var(--bg-border);
  padding: 4px;
  border-radius: 4px;
}

.tooltipTop {
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltipBottom {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltipRight {
  top: 50%;
  transform: translateY(-50%);
  left: 120%;
}

.tooltipLeft {
  top: 50%;
  transform: translateY(-50%);
  right: 120%;
}
