.cont {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--font-defautl);
}

.btnCont {
  display: flex;
  align-items: center;
  justify-content: center;
}
