.colWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 240px;
  max-width: 240px;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.col__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg {
    cursor: pointer;
  }
}

.col {
  height: 100%;
  overflow-y: scroll;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.deleteBtn {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 0;
  background: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  color: black;
  cursor: pointer;
}

.col__title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 1000;

  .circle {
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border: 2px solid grey;
    &:nth-of-type(n + 2) {
      border: 2px solid red;
    }
  }
}
