/* //todo change to FLEX and PAddinWrapper ui Component */
.modal {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}
/* //todo change to FLEX and PAddinWrapper ui Component */
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 12px;
}

.modal__search {
  margin-bottom: 20px;
}

.modal__selectedUsers {
  margin-top: 34px;
}

.modal__users {
  padding: 10px 0;
  background: var(--bg-100);
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow-y: scroll;
}

/* //todo change to FLEX and MarginWrapper ui Component */
.modal__footer {
  margin-top: 14px;
  display: flex;
  align-items: center;
}
