.fileInput {
  display: none;
}

.userBackground {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background: var(--bg-border);
}

.userAvatarCont {
  top: -80px;
  left: 20px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background: var(--bg-100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
}

.fileInput__btn {
  position: absolute;
  bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-border);
}
.fileInput__btn:hover .fileInput__btn > * {
  transform: scale(1.5);
}

.fileInput_label {
  right: 0;
}

.fileInput_delete {
  left: 0;
}

.btnContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
