.projectCard {
  background: var(--bg-0);
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px 25px 0 25px;
  border-radius: 10px;
  width: 240px;
  height: 140px;
  border: 1px solid var(--bg-border);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  transition: 0.2s;
}
.projectCard:hover {
  scale: 1.05;
  cursor: pointer;
}

.card__title {
  font-weight: 300;
  font-size: 20px;
  color: var(--font-defautl);
}

.card__subtitle {
  font-weight: 200;
  font-size: 16px;
  color: var(--font-gray);
}

.del__btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.line {
  width: 80%;
  height: 1px;
  background: var(--bg-border);
  margin: 30px 0;
}
