.fileInput {
  display: none;
}
.fileInput_label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  width: 90px;
  height: 90px;
  background: var(--bg-100);
}
.fileInput_label_text {
  transition: 0.4s;
}
.fileInput_label:hover .fileInput_label_text {
  transform: scale(1.3);
}
