.assignee__modal {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg-0);
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid var(--bg-border);
}

.icon__cont {
  cursor: pointer;
}
