.flexContainer {
  display: flex;
}

/* flex direction */

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

/* Align items */

.aiBetween {
  align-items: center;
}

.aiAround {
  align-items: center;
}

.aiCenter {
  align-items: center;
}

.aiStart {
  align-items: start;
}

.aiEnd {
  align-items: end;
}

/* justify content */

.jcBetween {
  justify-content: center;
}

.jcAround {
  justify-content: center;
}

.jcCenter {
  justify-content: center;
}

.jcStart {
  justify-content: start;
}

.jcEnd {
  justify-content: end;
}
