.switcher {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--bg-border);
  border-radius: 6px;
}
.switcher__item {
  padding: 4px 6px;

  cursor: pointer;
  transition: 0.1s;
  font-size: 12px;
  font-weight: 500;
  color: var(--font-gray);
}
.switcher__item:first-of-type {
  margin-right: 2px;
}
.switcher__item_active {
  background: var(--bg-primary);
  color: white;
  border-radius: 6px;
}
