.membersSelect {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  margin-left: 20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  border-radius: 100px;
  border: 1px solid var(--bg-border);
  background: var(--bg-0);
  color: var(--font-gray);
}

.usersCont {
  padding: 20px 4px;
  border-radius: 6px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-0);
  border: 1px solid var(--bg-border);
}
