.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sideBarWidth);
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: var(--z-index-mainLay-sidebar);
  background: var(--bg-100);
}

.sidebar__header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__header > span {
  font-weight: 800;
  font-size: 16px;
}

.sidebar__main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.sidebar__footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 35px;
  margin-bottom: 0;
}

.linkActive {
  margin-top: 35px;
  margin-bottom: 0;
  position: relative;
}
.linkActive::before {
  content: "";
  position: absolute;
  left: -23px;
  top: -5px;
  height: 35px;
  width: 10px;
  border-radius: 0 5px 5px 0;
  background: var(--bg-primary);
}
.linkActive > svg > rect {
  stroke: var(--bg-primary);
}
.linkActive > svg > path {
  stroke: var(--bg-primary);
}
