.avatarGroupCont {
  position: relative;
  display: flex;
  align-items: center;
}

.avatarCont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn {
  position: absolute;
  right: 0;
}

.otherMember {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  background: var(--bg-0);
  border-radius: 100%;
  border: 1px solid var(--bg-border);
  width: 24px;
  height: 24px;
  color: var(--font-defautl);
}
