.taskWrap {
  transition: 0.4s;
  width: 100%;
}

.task {
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 288px;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
  border-radius: 6px;
}

.taskDnD {
  box-shadow: 0 0 41px 15px rgba(34, 60, 80, 0.2);
}

.drag {
  border: 1px dashed #979797;
  opacity: 0.4;
}
.task__header {
  display: flex;
  position: relative;
}
.task__header > h4 {
  font-weight: bold;
  font-size: 14px;
  color: var(--font-defautl);
}

.delete__btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 4px;
  border-radius: 5px;
  transition: 0.4s;
  color: #b9b9b9;
}
.delete__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.task__main {
  margin-top: 12px;
  word-wrap: break-word;
}
.task__main > h1 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  color: var(--font-gray);
}
.task__main > h2 {
  font-weight: 200;
  font-size: 14px;
  color: var(--font-gray);
}

.task__footer {
  margin-top: 5px;
  color: var(--font-gray);
  border-top: 1px solid var(--bg-border);
  padding: 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.task__footer > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.task__footer > div > span {
  font-size: 12px;
  margin-left: 5px;
}
