.task {
  background: rgba(239, 239, 239, 0.5);
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 10px 25px;
  position: relative;

  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 14px;
  }

  .delete__btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #e1e1e1;
    border: none;
    color: black;
    padding: 4px;
    border-radius: 5px;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
