.task {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 10px 25px;
  position: relative;

  h1 {
    font-weight: 300;
    font-size: 18px;
  }

  h2 {
    font-weight: 200;
    font-size: 14px;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #e0a7a7;
    border: none;
    color: #a10101;
    padding: 4px;
    border-radius: 5px;
  }
}
