.task_priority {
  margin-right: 10px;
}

.task_id {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #989898;
  text-transform: uppercase;
}

.task {
  cursor: grab;
  padding: 8px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  width: 288px;
  border: 1px solid var(--bg-border);
  margin-bottom: 10px;
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task_avatar {
  height: 27px;
  width: 27px;
  border: 1px solid var(--bg-border);
  background: transparent;
  border-radius: 100px;
  overflow: hidden;
}
.task_avatar > img {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.task__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.task_title {
  cursor: pointer;
  margin: 0;
  word-wrap: break-word;
  width: 70%;
  font-size: 14px;
  color: #575757;
}
.task_title:hover {
  text-decoration: underline;
}

.task_creationDate {
  font-size: 14px;
  color: #989898;
}

.task__footer {
  height: 34px;
  margin-top: 8px;
  color: var(--font-gray);
  border-top: 1px solid var(--bg-border);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer_right,
.footer_left {
  display: flex;
  align-items: center;
}

.task_type {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid orange;
  color: orange;
  font-size: 14px;
  font-weight: 700;
}

.task_label {
  padding: 2px 6px;
  border: 1px solid var(--bg-border);
  color: var(--font-gray);
  border-radius: 16px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.task_label_f {
  border: 1px solid forestgreen;
  color: forestgreen;
}
.task_label_q {
  border: 1px solid #5b3383;
  color: #5b3383;
}
.task_label_b {
  border: 1px solid darkred;
  color: darkred;
}
.task_label_r {
  border: 1px solid orange;
  color: orange;
}

.task_attachments {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.task_attachments:last-of-type {
  margin-right: 0;
}

.task_attachments_counter {
  color: #989898;
  font-weight: 400;
  font-size: 14px;
  margin-right: 2px;
  transform: translateY(-1px);
}
