.task {
  cursor: grab;
  padding: 8px 12px 0 12px;
  display: flex;
  flex-direction: column;
  width: 288px;
  background: var(--bg-0);
  border: 1px solid var(--bg-border);
  /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
  margin-bottom: 10px;
  border-radius: 6px;
}

/* //todo change to FLEX and PAddinWrapper ui Component */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* //todo change to FLEX and PAddinWrapper ui Component */
.header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task__main {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.task_creationDate {
  font-size: 14px;
  color: #989898;
}

.task__footer {
  min-height: 34px;
  padding-top: 8px;
  padding-bottom: 12px;
  color: var(--font-gray);
  border-top: 1px solid var(--bg-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* //todo change to FLEX and PAddinWrapper ui Component */
.footer_right,
.footer_left {
  display: flex;
  align-items: center;
}

.task_type {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid orange;
  color: orange;
  font-size: 14px;
  font-weight: 700;
}

.task_label {
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.task_label_f {
  background: var(--task-label-f-bg);
  border: 1px solid var(--task-label-f-border);
  color: var(--task-label-f-color);
}
.task_label_q {
  background: var(--task-label-q-bg);
  border: 1px solid var(--task-label-q-border);
  color: var(--task-label-q-color);
}
.task_label_b {
  background: var(--task-label-b-bg);
  border: 1px solid var(--task-label-b-border);
  color: var(--task-label-b-color);
}
.task_label_r {
  background: var(--task-label-r-bg);
  border: 1px solid var(--task-label-r-border);
  color: var(--task-label-r-color);
}

.task_attachments {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.task_attachments:last-of-type {
  position: relative;
  margin-right: 0;
  cursor: pointer;
  height: 14px;
}

.task_attachments_counter {
  color: #989898;
  font-weight: 400;
  font-size: 14px;
  margin-right: 2px;
  transform: translateY(-1px);
}

.delBtn {
  font-size: 12px;
}
