.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 255px;
  font-weight: 800;
  margin: 0;
  color: var(--font-defautl);
  line-height: 220px;
}
.subtitle {
  margin: 0;
  color: var(--font-gray);
  font-size: 30px;
}
.btnCont {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.homeBtn {
  background: var(--bg-0);
  color: var(--font-defautl);
}
