.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  height: 5%;
  background: var(--bg-0);
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--bg-border);
}

.filters__cont {
  display: flex;
  align-items: center;
}

.subheader__left {
  width: 10%;
  min-width: 100px;
  justify-content: space-between;
  display: flex;
}
