.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  height: 5%;
  background: var(--bg-0);
  font-size: 14px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
}

.filters__cont {
  display: flex;
  align-items: center;
}

.switcher {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--bg-border);
  border-radius: 6px;
}
.switcher__item {
  padding: 2px 6px;

  cursor: pointer;
  transition: 0.1s;
  font-size: 14px;
  color: var(--font-gray);
}
.switcher__item:first-of-type {
  margin-right: 10px;
}
.switcher__item_active {
  background: var(--bg-primary);
  color: white;
  border-radius: 6px;
}
