.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  height: 5%;
  background: var(--bg-0);
  font-size: 14px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
}

.filters__cont {
  display: flex;
  align-items: center;
}
