.avatar {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  object-fit: cover;
  background: var(--bg-0);
  text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.avatar_bordered {
  border: 1px solid var(--bg-border);
}

.avatar_2xs {
  width: 12px;
  height: 12px;
}

.avatar_xs {
  width: 16px;
  height: 16px;
}

.avatar_s {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.avatar_m {
  width: 32px;
  height: 32px;
}

.avatar_l {
  width: 48px;
  height: 48px;
}

.avatar_xl {
  width: 64px;
  height: 64px;
}

.avatar_2xl {
  width: 128px;
  height: 128px;
}

.avatar_fit {
  width: 100%;
  height: 100%;
}
