.cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 24px;
  height: 14px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid var(--font-defautl);
  cursor: pointer;
}

.switcher {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: var(--font-defautl);
}
.contActive {
  display: flex;
  justify-content: flex-end;
}
