@import "normalize.css";
@import "theme.css";
@import "variables.css";
@import "toastify.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: block !important;
  height: 6px !important;
  width: 6px !important;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--bg-0) !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary) !important;
  border-radius: 10px !important;
}

body {
  background-color: var(--bg-0);
  margin: 0;
  font-family: Roboto, sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
