:root[data-theme="dark"] {
  --bg-100: #0e1216;
  --bg-border: #393d3f;
  --bg-0: #151a21;

  --font-defautl: #dcdcdc;
  --font-gray: #b0b0b0;
}

:root[data-theme="light"] {
  --bg-100: #f5f6f8;
  --bg-border: #e8e8e8;
  --bg-0: #ffffff;

  --font-defautl: #000000;
  --font-gray: #444444;
}
