.Toastify__toast {
  border: 1px solid var(--bg-border) !important;
  padding: 6px 12px !important;
  background: var(--bg-0) !important;
  color: #505050 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px !important;
  font-size: 14px !important;
}
.Toastify__close-button {
  color: var(--font-default) !important;
}
.Toastify__toast--info {
  border: 1px solid #91caff !important;
  background: #e6f4ff !important;
}
.Toastify__toast--success {
  border: 1px solid #b7eb8f !important;
  background: #f6ffed !important;
}
.Toastify__toast--warning {
  border: 1px solid #fde58f !important;
  background: #fffbe6 !important;
}
.Toastify__toast--error {
  border: 1px solid #fcccc7 !important;
  background: #fef2f0 !important;
}
