.projpage {
  height: 80vh;

  header {
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: 300;
      font-size: 24px;
    }

    h2 {
      font-weight: 200;
      font-size: 18px;
    }

    button {
      height: 50px;
      font-weight: 300;
      font-size: 16px;
      border: 1px solid grey;
      background: transparent;
      border-radius: 10px;
      padding: 0 20px;
    }
  }
}

.col-cont {
  display: flex;
  height: 100%;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0 0 20px;
}
h1,
h2 {
  font-size: 26px;
  font-weight: 300;
  color: #0a0909;
}

.col {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100%;
}

.colWrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gainsboro;
  margin-right: 20px;
  align-items: center;
}

.colWrap > button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  width: 100%;
}

.task {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;

  h1 {
    font-weight: 300;
    font-size: 18px;
  }

  h2 {
    font-weight: 200;
    font-size: 14px;
  }
}
