.wrap {
  display: flex;
  width: initial;
}

.projPage {
  display: flex;
  background: var(--bg-100);
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.projPage.showModal {
  /*todo width modal to const*/
  width: calc(100% - 360px);
}
