.titleCommon {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 600;
  font-size: 38px;
  color: var(--font-gray);
}

.title_h2 {
  font-weight: 500;
  font-size: 30px;
  color: var(--font-gray);
}

.title_h3 {
  font-weight: 500;
  font-size: 24px;
  color: var(--font-gray);
}

.title_h4 {
  font-weight: 500;
  font-size: 20px;
  color: var(--font-gray);
}

.title_h5 {
  font-weight: 500;
  font-size: 16px;
  /*//todo add to color var*/
  /*color: #575757;*/
  color: var(--font-gray);
}

.title_h6 {
  font-weight: 500;
  font-size: 14px;
  color: var(--font-gray);
}

.cursor_pointer {
  cursor: pointer;
}

.hover_underline:hover {
  text-decoration: underline;
}
